# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data

# Next.js
.next
.turbo
**/next-env.d.ts

# Build outputs
build
out
tmp

# Dependencies
node_modules
pnpm-lock.yaml

# Prisma generated
libs/database/src/generated

# VSCode
.vscode

# Logs
*.log