# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data

# Next.js
.next
.turbo

# Build outputs
build
out
tmp

# Dependencies
node_modules

# Prisma generated
libs/database/src/generated

# VSCode
.vscode

# Logs
*.log